@font-face {
    font-family: "PTRoot";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/pt-root-regular.woff2") format("woof2"),
        url("../fonts/pt-root-regular.woff") format("woof");
}

@font-face {
    font-family: "PTRoot";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/pt-root-medium.woff2") format("woof2"),
        url("../fonts/pt-root-medium.woff") format("woof");
}

@font-face {
    font-family: "PTRoot";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/pt-root-bold.woff2") format("woof2"),
        url("../fonts/pt-root-bold.woff") format("woof");
}

:root {
    --dark-color-basic: #201D1B;
    --light-color-basic: white;
    --accent-color: #553B2C;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

body {
    margin: 0;
    min-width: 1440px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: "PTRoot", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: var(--dark-color-basic);
    background-color: var(--light-color-basic);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
