.main__catalog {
    margin-bottom: 120px;
}

.catalog__heading {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 42px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 30px;
}

.coffee-card {
    width: 255px;
}

.coffee-card__link {
    display: flex;
    flex-direction: column;
}

.coffee-card__link:visited {
    color: inherit;
}

.coffee-card__link:hover {
    text-decoration: none;
    opacity: 0.7;
}

.coffee-card__link:active {
    opacity: 0.5;
}

.card__description {
    display: grid;
    gap: 5px 10px;
    grid-template-areas: 
        "name price"
        "country weight";
}

.card__heading {
    margin: 0;
    grid-area: name;

    font-size: 18px;
    line-height: 140%;
}

.card__country {
    margin: 0;
    grid-area: country;

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.card__price {
    margin: 0;
    grid-area: price;

    
    font-size: 18px;
    line-height: 140%;
    text-align: end;
}

.card__price::after {
    content: "\20BD";
}

.card__weight {
    margin: 0;
    grid-area: weight;

    
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-align: end;
}

.card__weight::after {
    content: " гр.";
}


.card__picture-container {
    order: -1;
    padding: 10px 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.card__picture {
    border-radius: 50%;
}

.coffee-card__link:hover .card__picture {
    transform: scale(1.2);
}