.cookie {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    display: flex;
    align-items: center;
    gap: 30px;
    
    padding: 13px 30px;
    max-width: 920px;
    box-sizing: border-box;

    background-color: var(--accent-color);
    color: var(--light-color-basic);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.cookie__text {
    margin: 0;
    
}

.cookie__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cookie__btn {
    flex-shrink: 0;
    width: 123px;
    height: 31px;
    box-sizing: border-box;

    font-family: 'PT Root';
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.cookie__btn:hover {
    opacity: 0.7;
}

.cookie__btn:active {
    opacity: 0.5;
}

.cookie__btn_solid {
    color: var(--accent-color);
    background-color: var(--light-color-basic);
    border: none;
}


.cookie__btn_bordered {
    background-color: transparent;
    color: var(--light-color-basic);
    border: 1px solid;
}
