.cookie {
    /* position: fixed; */
    display: flex;
    align-items: center;

    padding: 13px 30px;
    width: 920px;
    box-sizing: border-box;
    background-color: #041334;
    color: white;
}

.cookie__text {
    margin: 0;
}

.cookie__btn {
    /* padding: 7px; */
    width: 123px;
    height: 31px;
    margin-left: 15px;
    box-sizing: border-box;
}