/* LEAD */

.lead {
    height: 600px;
    padding-top: 150px;
    box-sizing: border-box;

    background-image: url("../images/main-picture.jpg");
    background-size: cover;
}

.main__lead {
    position: relative;
    margin-bottom: 120px;
}

.lead__heading {
    margin-bottom: 20px;
}

.lead__description {
    margin-bottom: 60px;
}

.lead__link {

}

/* CATALOG */

.main__catalog {
    margin-bottom: 120px;
}

.catalog__heading {
    margin-bottom: 50px;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 30px;
}

.coffee-card {
    width: 255px;
}

.coffee-card__link {
    display: flex;
    flex-direction: column;
}

.card__description {
    display: grid;
    gap: 5px 10px;
    grid-template-areas: 
        "name price"
        "country weight";
}

.card__heading {
    margin: 0;
    grid-area: name;
}

.card__country {
    margin: 0;
    grid-area: country;
}

.card__price {
    margin: 0;
    grid-area: price;
}

.card__weight {
    margin: 0;
    grid-area: weight;
}

.card__picture {
    order: -1;
    padding: 0 10px;
    margin-bottom: 20px;
}