.scroll-up {
    position: sticky;
    bottom: 0;
    
    display: flex;
    justify-content: flex-end;
}

.scroll-up__btn {
    margin-top: -60px;
    display: block;
    width: 45px;
    height: 45px;
    background-color: var(--accent-color);
}

.scroll-up__btn_hidden {
    display: none;
}
