.scroll-up {
    position: sticky;
    bottom: 0;
    
    display: flex;
    justify-content: flex-end;
}

.scroll-up__btn {
    margin-top: -60px;
    display: block;
    width: 45px;
    height: 45px;
    background-color: var(--accent-color);
    background-image: url("../images/arrow-up.svg");
    background-size: 13px 19px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.scroll-up__btn:hover {
    opacity: 0.7;
}

.scroll-up__btn:active {
    opacity: 0.5;
}

.scroll-up__btn_hidden {
    display: none;
}
